body{
    margin: 0;
    background-color: white;
    font-family: 'Raleway', sans-serif;
    font-size: 16px;
}
.header {
    background-color: white;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 2;
    height: 85px;
}
button{
    cursor: pointer;
}

.logo-nav-container {
    width: 85%;
    max-height: 65%;
    background-color: rgb(255, 255, 255);
    margin: auto;
    padding: 0em;

    display: flex;
    flex-flow:row wrap;
    justify-content: space-between;
    align-items: center;
  }
.logo-nav-container p {
    
    min-width: 25%;
}
.logo-nav-container img {
    margin-left: 0;
    width: 100%;
}
.bars__menu {
    width: 35px;
    height: 35px;
    background-color: rgb(255, 255, 255);
    cursor: pointer;
}
.bars__menu span {
    display: block;
    width: 100%;
    height: 3px;
    background: rgb(0, 0, 0);
    margin-top: 6px;
    transform-origin: 0px 100%;
    transition: all 300ms;
    border-radius: 5px;
}
.activeline1__bars-menu {
    transform: rotate(45deg) translate(-1px, -2px);
}

.activeline2__bars-menu {
    opacity: 0;
    margin-left: -30px;
}

.activeline3__bars-menu {
    transform: rotate(-45deg) translate(-1px, 6px);
}

.nav {
    background-color: white;
    width: 100%;
    /*display: none*/
    height: 0;
    pointer-events: none;
    overflow: hidden;

    transition: all 300ms;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    margin: auto;
}
.nav.activo {
    height: 22vh;
    pointer-events: auto;
    border: black solid 4px;
}/*
.nav ul {
    width: 90%;
    margin: auto;
    display: flex;
    flex-direction: column;
    
    justify-content: flex-end;
    align-items: center;
}*/
.nav ul{
    display: flex;
    flex-direction: column;

    justify-content: flex-end;
    align-items: center;
}
.nav li {
    list-style: none;
    margin: 0.5em;
}
.nav li a {
    text-decoration: none;
    color: black;
    font-weight: bold;
}

.nav li:hover {
    padding-left: 10%;
    padding-right: 10%;
    background-color:  #9FB8AD;
}
.border-head {
    width: 100%;
    border: rgb(24, 22, 22) 2px groove;
    background-color: black;
    position: absolute;
    z-index: 10;
    bottom: 0;
}

.main {
    background-color: white;
    margin: auto;
    margin-top: 4.5%;
    
    padding-top: 1.5%;
    width: 80%;
    height: 2400px;
    border: rgb(77, 77, 77) 2px double;
    margin-bottom: 2%;
    justify-content: center;
    align-items: center;
}



.menu-container1 {
    margin:auto;
    margin-top: 1%;
    background-color: brown;
    max-width: 80%;
    max-height: 35%;
    border-radius: 10px;
    margin-bottom: 5px;
    justify-content: center;
    align-items: center;
    display: flex;
}
.slider {
    width: 100%;
    height: 10%;
    border-radius: 10px;
    overflow: hidden;
}
.slides {
    width: 500%;
    height: 100%;
    display: flex;
}
.slider input {
    display: none;
}
.slide{
    width: 20%;
    transition: 2s;
}

img {

    width: 100%;
    height: 100%;
}

/*css for manual slide navigation*/
.navigation-manual {
    position: absolute;
    width: 90%;
    margin-top: -5%;
    display: flex;
    justify-content: center;
}

.manual-btn {
    border: 2px solid black;
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    transition: 1s;
}
.manual-btn:not(:last-child) {
    margin-right: 40px;
}
.manual-btn:hover {
    background: black;
}
#radio1:checked ~
#radio1:checked ~ .first{
    margin-left: 0;
}
#radio2:checked ~ .first{
    margin-left: -20%;
}
#radio3:checked ~ .first{
    margin-left: -40%;
}
#radio4:checked ~ .first{
    margin-left: -60%;
}

/*css for automatic navigation*/

.navigation-auto {
    position: absolute;
    width: 90%;
    margin-top: -5%;
    display: flex;
    justify-content: center;
}
.navigation-auto div {
    border: 2px solid yellow;
    padding: 5px;
    border-radius: 10px;
    transition: 1s;
}
.navigation-auto div:not(:last-child) {
    margin-right: 40px;
}

#radio1:checked ~ .navigation-auto .auto-btn1 {
    background: yellow;
}
#radio2:checked ~ .navigation-auto .auto-btn2 {
    background: yellow;
}
#radio3:checked ~ .navigation-auto .auto-btn3 {
    background: yellow;
}
#radio4:checked ~ .navigation-auto .auto-btn4 {
    background: yellow;
}



.menu-info {
    margin: auto;
    background-color: #E6E8E6;
    width: 80%;
    height:5%;
    margin-bottom: 1%;
    display: flex;
    flex-direction: row;
    

    justify-content: space-between;
    align-items: center;
    padding-left: 20px;
    padding-right: 30px;
    
    border: 3px #3F403F dashed;
    border-radius: 5px;
    color: black;
}
.menu-info p {
    font-size: 1.2em;
}
.button-info {

    border-radius: 6px;
    border-color: grey;
    padding: 7px;
    color: white;
    background-color: #475841;
}
.button-info:hover {
    background-color: #3F403F;
}



.menu-container2 {
    margin: auto;
    width: 100%;
    
    margin-bottom: 200px;
}
.titulo-servicios {
    width: 100%;
    height: 50px;
    background-color: #E6E8E6;
    position: relative;
}
.titulo-servicios p{
    position: absolute;
    color: rgb(53, 53, 53);
    font-size: 0.7em;
    top: -5px;
    left: 27px;
}
.titulo-servicios h3 {
    position: absolute;
    color: rgb(0, 0, 0);
    font-size: 1.5rem;
    top: -8px;
    left: 25px;
}
.linea-servicios {
    position: absolute;
    width: 1.5%;
    height: 100%;
    background-color: #475841;
}
.servicios {
    width: 100%;
    height: 90%;
    background-image: url(./img/fondo-ct.png);
    position: relative;
    padding-top: 10px;
    padding-bottom: 10px;

    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 5px;
    justify-items: center;
    align-items: center;

}

/* para ver si se adapta al div padre
.servicios div{
    opacity: 50%;
}*/

.service_uno {
    width: 300px;
    height: 200px;
    background-image: url(./img/instalaciones-electromecanicas.jpg);
    background-size: cover;
    position: relative;
    border: solid 3px black;
    border-radius: 10px;
    -webkit-box-shadow: 0px 3px 18px 1px rgba(0,0,0,0.74);
    -moz-box-shadow: 0px 3px 18px 1px rgba(0,0,0,0.74);
    box-shadow: 0px 3px 18px 1px rgba(0,0,0,0.74);
    filter: grayscale(90%);
}
.service_uno:hover{
    filter: grayscale(0%);
    transition: 0.3s;
    border-color: #3F403F;
}
.service_uno:hover button {
    background-color: rgb(129, 129, 129);
    transition: 0.5s;
    border-color: #E6E8E6;
    height: 14%;
}
.service_uno:hover i{
    opacity: 30%;
    font-size: 3.5em;
    transition: 0.3s;
}
.service_uno:hover .contenedor-service {
    opacity: 95%;
    border-color: #9FB8AD;
    background: rgb(36,0,0);
    background: radial-gradient(circle, rgba(36,0,0,1) 0%, rgba(35,111,117,0.16290266106442575) 75%, rgba(0,236,255,0) 100%);
}
.show-text{
    font-size:smaller !important;
    color: rgb(255, 255, 255) !important;
    position: absolute;
    text-align: center;
    opacity: 0%;
}
.service_uno:hover .show-text{
    opacity: 95%;
    transition: 0.8s;
}
.service_uno:hover .text-service-uno{
    opacity: 10%;
    transition: 0.3s;
}
.contenedor-service{
    width: 90%;
    height: 90%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: solid 2px #E6E8E6;
    border-radius: 8px;
}
.contenedor-service i {
    font-size: 3em;
    color: rgb(253, 253, 253);
    margin-bottom: 10px;
    font-weight: bolder;
}
.contenedor-service p {
    color: white;
    font-size: 1em;
    font-weight: bold;
}
.contenedor-service button {
    margin-top: 10px;
    width: 40%;
    height: 15%;
    background-color: #475841 !important;
    color: white;
    border-color: white;
    border-radius: 3px;
}
.service_dos {
    width: 300px;
    height: 200px;
    background-image: url(./img/tableros-electricos.webp);
    background-size: cover;
    filter: grayscale(100%);
    border: solid 3px black;
    position: relative;
    border-radius: 10px;
    -webkit-box-shadow: 0px 3px 18px 1px rgba(0,0,0,0.74);
    -moz-box-shadow: 0px 3px 18px 1px rgba(0,0,0,0.74);
    box-shadow: 0px 3px 18px 1px rgba(0,0,0,0.74);
}
/*hover servicio numero dos*/
.service_dos:hover{
    background-color: #475841;
    transition: 0.3s;
    border-color: #3F403F;
    filter: grayscale(0%);
}
.service_dos:hover button {
    background-color: rgb(129, 129, 129);
    transition: 0.5s;
    border-color: #E6E8E6;
    height: 14%;
}
.service_dos:hover i{
    opacity: 30%;
    font-size: 3.5em;
    transition: 0.3s;
}
.service_dos:hover .contenedor-service {
    opacity: 95%;
    border-color: #9FB8AD;
    background: rgb(36,0,0);
    background: radial-gradient(circle, rgba(36,0,0,1) 0%, rgba(35,111,117,0.16290266106442575) 75%, rgba(0,236,255,0) 100%);
}
.service_dos:hover .show-text{
    opacity: 95%;
    transition: 0.8s;
}
.service_dos:hover .text-service-uno{
    opacity: 10%;
    transition: 0.3s;
}
/*fin service dos*/

.service_tres {
    width: 300px;
    height: 200px;
    background-image: url(./img/telefonia-general.jpg);
    background-size: cover;
    filter: grayscale(100%);
    position: relative;
    border: solid 3px black;
    border-radius: 10px;
    -webkit-box-shadow: 0px 3px 18px 1px rgba(0,0,0,0.74);
-moz-box-shadow: 0px 3px 18px 1px rgba(0,0,0,0.74);
box-shadow: 0px 3px 18px 1px rgba(0,0,0,0.74);
}
/*hover service tres*/
.service_tres:hover{
    background-color: #475841;
    transition: 0.3s;
    border-color: #3F403F;
    filter: grayscale(0%);
}
.service_tres:hover button {
    background-color: rgb(129, 129, 129);
    transition: 0.5s;
    border-color: #E6E8E6;
    height: 14%;
}
.service_tres:hover i{
    opacity: 30%;
    font-size: 3.5em;
    transition: 0.3s;
}
.service_tres:hover .contenedor-service {
    opacity: 95%;
    border-color: #9FB8AD;
    background: rgb(36,0,0);
    background: radial-gradient(circle, rgba(36,0,0,1) 0%, rgba(35,111,117,0.16290266106442575) 75%, rgba(0,236,255,0) 100%);
}
.service_tres:hover .show-text{
    opacity: 95%;
    transition: 0.8s;
}
.service_tres:hover .text-service-uno{
    opacity: 10%;
    transition: 0.3s;
}
/*fin de hover*/
.service_cuatro {
    width: 300px;
    height: 200px;
    background-image: url(./img/cableado-redes.jpeg);
    background-size: cover;
    filter: grayscale(100%);
    position: relative;
    border: solid 3px black;
    border-radius: 10px;
    -webkit-box-shadow: 0px 3px 18px 1px rgba(0,0,0,0.74);
-moz-box-shadow: 0px 3px 18px 1px rgba(0,0,0,0.74);
box-shadow: 0px 3px 18px 1px rgba(0,0,0,0.74);
}
/*hover service cuatro*/
.service_cuatro:hover{
    background-color: #475841;
    transition: 0.3s;
    border-color: #3F403F;
    filter: grayscale(0%);
}
.service_cuatro:hover button {
    background-color: rgb(129, 129, 129);
    transition: 0.5s;
    border-color: #E6E8E6;
    height: 14%;
}
.service_cuatro:hover i{
    opacity: 30%;
    font-size: 3.5em;
    transition: 0.3s;
}
.service_cuatro:hover .contenedor-service {
    opacity: 95%;
    border-color: #9FB8AD;
    background: rgb(36,0,0);
    background: radial-gradient(circle, rgba(36,0,0,1) 0%, rgba(35,111,117,0.16290266106442575) 75%, rgba(0,236,255,0) 100%);
}
.service_cuatro:hover .show-text{
    opacity: 95%;
    transition: 0.8s;
}
.service_cuatro:hover .text-service-uno{
    opacity: 10%;
    transition: 0.3s;
}
/*fin de hover*/
.service_cinco {
    width: 300px;
    height: 200px;
    background-image: url(./img/instalaciones-wifi.webp);
    background-size: cover;
    filter: grayscale(100%);
    position: relative;
    border: solid 3px black;
    border-radius: 10px;
    -webkit-box-shadow: 0px 3px 18px 1px rgba(0,0,0,0.74);
-moz-box-shadow: 0px 3px 18px 1px rgba(0,0,0,0.74);
box-shadow: 0px 3px 18px 1px rgba(0,0,0,0.74);
}
/*hover service cinco*/
.service_cinco:hover{
    background-color: #475841;
    transition: 0.3s;
    border-color: #3F403F;
    filter: grayscale(0%);
}
.service_cinco:hover button {
    background-color: rgb(129, 129, 129);
    transition: 0.5s;
    border-color: #E6E8E6;
    height: 14%;
}
.service_cinco:hover i{
    opacity: 30%;
    font-size: 3.5em;
    transition: 0.3s;
}
.service_cinco:hover .contenedor-service {
    opacity: 95%;
    border-color: #9FB8AD;
    background: rgb(36,0,0);
    background: radial-gradient(circle, rgba(36,0,0,1) 0%, rgba(35,111,117,0.16290266106442575) 75%, rgba(0,236,255,0) 100%);
}
.service_cinco:hover .show-text{
    opacity: 95%;
    transition: 0.8s;
}
.service_cinco:hover .text-service-uno{
    opacity: 10%;
    transition: 0.3s;
}
/*fin de hover*/
.service_seis {
    width: 300px;
    height: 200px;
    background-image: url(./img/comunicaciones-unificadas.jpg);
    background-size: cover;
    filter: grayscale(100%);
    position: relative;
    border: solid 3px black;
    border-radius: 10px;
    -webkit-box-shadow: 0px 3px 18px 1px rgba(0,0,0,0.74);
-moz-box-shadow: 0px 3px 18px 1px rgba(0,0,0,0.74);
box-shadow: 0px 3px 18px 1px rgba(0,0,0,0.74);
}
/*hover service seis*/
.service_seis:hover{
    background-color: #475841;
    transition: 0.3s;
    border-color: #3F403F;
    filter: grayscale(0%);
}
.service_seis:hover button {
    background-color: rgb(129, 129, 129);
    transition: 0.5s;
    border-color: #E6E8E6;
    height: 14%;
}
.service_seis:hover i{
    opacity: 30%;
    font-size: 3.5em;
    transition: 0.3s;
}
.service_seis:hover .contenedor-service {
    opacity: 95%;
    border-color: #9FB8AD;
    background: rgb(36,0,0);
    background: radial-gradient(circle, rgba(36,0,0,1) 0%, rgba(35,111,117,0.16290266106442575) 75%, rgba(0,236,255,0) 100%);
}
.service_seis:hover .show-text{
    opacity: 95%;
    transition: 0.8s;
}
.service_seis:hover .text-service-uno{
    opacity: 10%;
    transition: 0.3s;
}
/*fin de hover*/
.menu-container3 {
    
    background-color: #475841;
    width: 100%;
    height: 340px;
    
    margin-top: -130px;
    justify-content: center;
    text-align: center;
    color: white;
    position: relative;
}


.menu-container3 p {
    position: absolute;
    text-align: justify;
    font-size: calc(0.8em + 0.8vw);
    line-height: 1em;
    padding: 0.8em;
    margin: 0.8em;
}
.titulo-somos {
    width: 100%;
    height: 50px;
    background-color: rgb(255, 255, 255);
    position: relative;

}
.titulo-somos p{
    position: absolute;
    color: rgb(53, 53, 53);
    font-size: 0.7em;
    top: -12px;
    left: 10px;
}
.titulo-somos h3 {
    position: absolute;
    color: rgb(0, 0, 0);
    font-size: 1.5rem;
    top: -8px;
    left: 25px;
}
.linea-somos {
    position: absolute;
    width: 1.5%;
    height: 100%;
    background-color: #475841;
}
.panel-botonesomos{
    width: 100%;
    height: 50px;
    background-color: #475841;
    display: flex;
    flex-direction: row-reverse;
    
}
.panel-botonesomos button {
    width: 25%;
    height: 35px;
    margin-right: 40px;
    background-color: grey;
    color: white;
    border-color: white;
}
.panel-botonesomos button:hover {
    background-color: #3F403F;
    color: white;
    border-color: #475841;
}
/**/
.titulo-consulta {
    width: 100%;
    height: 50px;
    background-color: #E6E8E6;
    position: relative;
    margin-top: 35px;
    margin-bottom: -15px;
}
.titulo-consulta p{
    position: absolute;
    color: rgb(53, 53, 53);
    font-size: 0.7em;
    top: -6px;
    left: 27px;
}
.titulo-consulta h3 {
    position: absolute;
    color: rgb(0, 0, 0);
    font-size: 1.5rem;
    top: -8px;
    left: 25px;
}
.linea-consulta {
    position: absolute;
    width: 1.5%;
    height: 100%;
    background-color: #475841;
}
/**/

.menu-container4 {
    margin: auto;
    margin-top: 20px;
    background-color: #3F403F;
    width: 90%;
    height: 550px;
    border-radius: 10px;
}
.text-contact {
    width: 100%;
    height: 100px;
    padding-top: 2px;
    padding-bottom: 12px;
    
    
    background-color: #3F403F;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 10px 10px 0px 0px;
}
.text-contact h3 {
    color: white;
    padding: 10px;
    font-size: 1.2rem;
    text-align: center;
}
.text-contact p {
    color: white;
    font-size: 0.8rem;
}
.text-contact i {
    color: white;
    position: absolute;
    font-size: 2em;
    padding-top: 1.1em;
}
.mail-contact {
    width: 100%;
    height: 70%;
    background-image: url(./img/fondo-ct.png);
    padding-top: 15px;
    padding-bottom: 15px;
}

/* codigo pegado de franco ruiz*/
.menu-form{
    width: 85%;
    height: 95%;
    margin: auto;
    margin-top: 15px;
    background-color: #9FB8AD;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 3px #3F403F solid;
}
.formulario{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    line-height:0.7em;
    padding: 20px;
}
.formulario p{
    font-size: 0.7rem;
    margin-top: -1px;
    margin-bottom: 30px;
    text-indent: 1em;
    text-align: justify;
}
.formulario input {
    width: 90%;
    height: 20px;
    margin-top: -5px;
}
.input-mensaje {
    width: 90%;
    margin-top: -5px;
    margin-bottom: 10px;
}
.form-titulo {
    font-size: 1.4rem;
}
.form-submit {
    background-color: #475841;
    color: white;
    border-color: #E6E8E6;
}
.form-submit:hover {
    background-color: #CED0CE;
    color: rgb(73, 73, 73);
    border-color: #475841;
}
/* codigo pegado de franco ruiz*/

.footer {
    background-color: #475841;
    font-family: "Times New Roman", Times, serif;
    color: rgb(255, 255, 255);
    padding: 5vh 0 5vh;
    text-align: center;
}


/*MEDIA QUERIES*/

@media screen and (max-width: 1275px) {
    .main {
        height: 2250px;
        margin-top: 10%;
    }
}
@media screen and (max-width: 1275px) {
    /*los servicios se dividen en dos columnas*/
    .main {
        height: 2420px;
        margin-top: 6%;
    }
}
@media screen and (max-width: 998px) {
    .main {
        margin-top: 6%;
    }
  
}
@media screen and (max-width: 690px) {
    /*los servicios se dividen en una columna*/
    .main {
        height: 2910px;
        margin-top: 10%;
    }   
}

@media screen and (max-width: 640px) {
    .main {
        margin-top: 11%;
        height: 2870px;
    }   
}

@media screen and (max-width: 500px) {
    .main {
        margin-top: 13%;
        height: 2800px;
    }

}
