body{
    margin: 0;
    background-color: rgb(58, 32, 32);
    font-family: 'Raleway', sans-serif;
}
.header {
    background-color: rgb(44, 44, 182);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 2;
    height: 18%;
}

.logo-nav-container {
    width: 85%;
    max-height: 65%;
    background-color: brown;
    margin: auto;
    padding: 1em;

    display: flex;
    flex-flow:row wrap;
    justify-content: space-between;
    align-items: center;
  }
.logo-nav-container p {
    background-color: rgb(44, 44, 182);
    min-width: 25%;
}
.logo-nav-container img {
    margin-left: 13px;
    width: 100%;
}
.bars__menu {
    width: 35px;
    height: 35px;
    background-color: red;
    cursor: pointer;
}
.bars__menu span {
    display: block;
    width: 100%;
    height: 2px;
    background: white;
    margin-top: 6px;
    transform-origin: 0px 100%;
    transition: all 300ms;
}
.activeline1__bars-menu {
    transform: rotate(45deg) translate(-1px, -4px);
}

.activeline2__bars-menu {
    opacity: 0;
    margin-left: -30px;
}

.activeline3__bars-menu {
    transform: rotate(-45deg) translate(-1px, 6px);
}

.nav {
    background-color: beige;
    width: 100%;
    /*display: none*/
    height: 0;
    pointer-events: none;
    overflow: hidden;

    transition: all 300ms;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;

}
.nav.activo {
    height: 23vh;
    pointer-events: auto;
    border: rgb(27, 21, 21) solid 5px;
}/*
.nav ul {
    width: 90%;
    margin: auto;
    display: flex;
    flex-direction: column;
    
    justify-content: flex-end;
    align-items: center;
}*/
.nav ul{
    width: 70%;
    margin-left: -5%;
    display: flex;
    flex-direction: column;

    justify-content: flex-end;
    align-items: center;
}
.nav li {
    list-style: none;
    margin: 0.5em;
}
.nav li a {
    text-decoration: none;
}

.nav li:hover {
    padding-left: 10%;
    padding-right: 10%;
    background-color:  rgb(141, 141, 141);
}

.border-head {
    background-color: rgb(77, 165, 42);
    width: 100%;
    height: 10px;
}
.main {
    background-color: beige;
    margin: auto;
    margin-top: 9%;
    
    padding-top: 1.5%;
    width: 90%;
    height: 2830px;
    border-radius: 10px;
    margin-bottom: 2%;
    justify-content: center;
    align-items: center;
}



.menu-container1 {
    margin:auto;
    background-color: brown;
    width: 98%;
    max-height: 35%;
    border-radius: 10px;
    margin-bottom: 5px;
    justify-content: center;
    align-items: center;
    display: flex;
}
.slider {
    width: 100%;
    height: 10%;
    border-radius: 10px;
    overflow: hidden;
}
.slides {
    width: 500%;
    height: 100%;
    display: flex;
}
.slider input {
    display: none;
}
.slide{
    width: 20%;
    transition: 2s;
}

img {

    width: 100%;
    height: 100%;
}

/*css for manual slide navigation*/
.navigation-manual {
    position: absolute;
    width: 90%;
    margin-top: -5%;
    display: flex;
    justify-content: center;
}

.manual-btn {
    border: 2px solid black;
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    transition: 1s;
}
.manual-btn:not(:last-child) {
    margin-right: 40px;
}
.manual-btn:hover {
    background: black;
}
#radio1:checked ~
#radio1:checked ~ .first{
    margin-left: 0;
}
#radio2:checked ~ .first{
    margin-left: -20%;
}
#radio3:checked ~ .first{
    margin-left: -40%;
}
#radio4:checked ~ .first{
    margin-left: -60%;
}

/*css for automatic navigation*/

.navigation-auto {
    position: absolute;
    width: 90%;
    margin-top: -5%;
    display: flex;
    justify-content: center;
}
.navigation-auto div {
    border: 2px solid yellow;
    padding: 5px;
    border-radius: 10px;
    transition: 1s;
}
.navigation-auto div:not(:last-child) {
    margin-right: 40px;
}

#radio1:checked ~ .navigation-auto .auto-btn1 {
    background: yellow;
}
#radio2:checked ~ .navigation-auto .auto-btn2 {
    background: yellow;
}
#radio3:checked ~ .navigation-auto .auto-btn3 {
    background: yellow;
}
#radio4:checked ~ .navigation-auto .auto-btn4 {
    background: yellow;
}



.menu-info {
    margin: auto;
    background-color: rgb(35, 185, 15);
    width: 90%;
    height:5%;
    margin-bottom: 1%;
    display: flex;
    flex-direction: row;
    

    justify-content: space-between;
    align-items: center;
    padding-left: 30px;
    padding-right: 30px;
    
    border: 3px rgb(10, 9, 9) solid;
    color: white;
}
.menu-info p {
    font-size: 1.5em;
}
.button-info {

    border-radius: 6px;
    border-color: grey;
    padding: 7px;
    color: white;
    background-color: blueviolet;
}

.menu-container2 {
    margin: auto;
    background-color: blue;
    width: 100%;
    
    margin-bottom: 200px;
}
.titulo-servicios {
    width: 100%;
    height: 50px;
    background-color: rgb(255, 255, 255);
    position: relative;
}
.titulo-servicios p{
    position: absolute;
    color: rgb(53, 53, 53);
    font-size: 0.7em;
    top: -5px;
    left: 27px;
}
.titulo-servicios h3 {
    position: absolute;
    color: rgb(0, 0, 0);
    font-size: 1.5rem;
    top: -8px;
    left: 25px;
}
.linea-servicios {
    position: absolute;
    width: 1.5%;
    height: 100%;
    background-color: blueviolet;
}
.servicios {
    width: 100%;
    height: 90%;
    background-color: brown;
    position: relative;

    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    gap: 5px;
    justify-items: center;
    align-items: center;
}

/* para ver si se adapta al div padre
.servicios div{
    opacity: 50%;
}*/

.service_uno {
    width: 350px;
    height: 200px;
    background-color: rgb(194, 194, 194);
    position: relative;
    border: solid 1px black;
}
.contenedor-service{
    width: 90%;
    height: 90%;
    background-color: rgb(194, 194, 194);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: dashed 4px white;
}
.contenedor-service i {
    font-size: 3em;
    color: white;
    margin-bottom: 10px;
}
.contenedor-service p {
    color: white;
    font-size: 1em;
    font-weight: bold;
}
.contenedor-service button {
    margin-top: 10px;
    width: 40%;
    height: 15%;
    background-color: blueviolet;
    color: white;
    border-color: white;
    border-radius: 3px;
}
.service_dos {
    width: 350px;
    height: 200px;
    background-color: rgb(194, 194, 194);
    position: relative;
    border: solid 1px black;
}
.service_tres {
    width: 350px;
    height: 200px;
    background-color: rgb(194, 194, 194);
    position: relative;
    border: solid 1px black;
}
.service_cuatro {
    width: 350px;
    height: 200px;
    background-color: rgb(194, 194, 194);
    position: relative;
    border: solid 1px black;
}
.service_cinco {
    width: 350px;
    height: 200px;
    background-color: rgb(194, 194, 194);
    position: relative;
    border: solid 1px black;
}
.service_seis {
    width: 350px;
    height: 200px;
    background-color: rgb(194, 194, 194);
    position: relative;
    border: solid 1px black;
}
.menu-container3 {
    
    background-color: rgb(49, 155, 49);
    width: 100%;
    height: 305px;
    
    margin-top: -130px;
    justify-content: center;
    text-align: center;
    color: white;
    position: relative;
}


.menu-container3 p {
    position: absolute;
    text-align: justify;
    font-size: calc(0.8em + 0.8vw);
    line-height: 1em;
    padding: 0.8em;
    margin: 0.8em;
}
.titulo-somos {
    width: 100%;
    height: 50px;
    background-color: rgb(255, 255, 255);
    position: relative;
}
.titulo-somos p{
    position: absolute;
    color: rgb(53, 53, 53);
    font-size: 0.7em;
    top: -12px;
    left: 10px;
}
.titulo-somos h3 {
    position: absolute;
    color: rgb(0, 0, 0);
    font-size: 1.5rem;
    top: -8px;
    left: 25px;
}
.linea-somos {
    position: absolute;
    width: 1.5%;
    height: 100%;
    background-color: blueviolet;
}
.panel-botonesomos{
    width: 100%;
    height: 50px;
    background-color: rgb(49, 155, 49);
    display: flex;
    flex-direction: row-reverse;
    
}
.panel-botonesomos button {
    width: 100px;
    height: 25px;
    margin-right: 40px;
    background-color: grey;
    color: white;
    border-color: white;
}
/**/
.titulo-consulta {
    width: 100%;
    height: 50px;
    background-color: rgb(255, 255, 255);
    position: relative;
    margin-top: 35px;
    margin-bottom: -15px;
}
.titulo-consulta p{
    position: absolute;
    color: rgb(53, 53, 53);
    font-size: 0.7em;
    top: -6px;
    left: 27px;
}
.titulo-consulta h3 {
    position: absolute;
    color: rgb(0, 0, 0);
    font-size: 1.5rem;
    top: -8px;
    left: 25px;
}
.linea-consulta {
    position: absolute;
    width: 1.5%;
    height: 100%;
    background-color: blueviolet;
}
/**/

.menu-container4 {
    margin: auto;
    margin-top: 20px;
    background-color: rgb(255, 0, 119);
    width: 90%;
    height: 550px;
    border-radius: 10px;
}
.text-contact {
    width: 100%;
    height: 100px;
    
    
    background-color: yellow;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.text-contact h3 {
    color: black;
    
}
.text-contact p {
    color: black;
}
.text-contact i {
    color: black;
    position: absolute;
    font-size: 2em;
    
}
.mail-contact {
    width: 100%;
    height: 70%;
    background-color: brown;
    padding-top: 15px;
    padding-bottom: 15px;
}

/* codigo pegado de franco ruiz*/
.menu-form{
    width: 70%;
    height: 100%;
    margin: auto;
    margin-top: 15px;
    background-color: rgb(189, 189, 189);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.formulario{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    line-height:0.7em;
}
.formulario p{
    font-size: small;
    margin-top: -7px;
    margin-bottom: 50px;
}
.formulario input {
    width: 90%;
    height: 20px;
    margin-top: -5px;
}
.input-mensaje {
    width: 90%;
    margin-top: -5px;
    margin-bottom: 10px;
}
.form-submit {
    background-color: blue;
}
/* codigo pegado de franco ruiz*/

.footer {
    background-color: rgb(206, 17, 17);
    font-family: "Times New Roman", Times, serif;
    color: rgb(255, 255, 255);
    padding: 5vh 0 5vh;
    text-align: center;
}


/*MEDIA QUERIES*/

@media screen and (max-width: 1275px) {
    .main {
        margin-top: 10%;
    }
}
@media screen and (max-width: 998px) {
    .main {
        margin-top: 15%;
    }
  
}

@media screen and (max-width: 640px) {
    .main {
        margin-top: 18%;
    }

    
}

@media screen and (max-width: 486px) {
    .main {
        margin-top: 21%;
    }

}
